<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Eventos<%= cidade ? ' em ' + cidade.charAt(0).toUpperCase() + cidade.slice(1) : '' %></title>
  <link rel="stylesheet" href="/css/eventos.css" />
</head>
<body>
  <header>
    <h1>Eventos<%= cidade ? ' em ' + cidade.charAt(0).toUpperCase() + cidade.slice(1) : '' %></h1>
  </header>

  <main class="container">
    <div class="cards">
      <% eventos.forEach(evento => { %>
        <a href="/evento/<%= evento.id %>" class="card-link">
          <div class="card">
            <img src="<%= evento.imagem_url %>" alt="<%= evento.nome %>">
            <div class="card-content">
              <h3><%= evento.nome %></h3>
              <p><strong>Data:</strong> <%= new Date(evento.data).toLocaleDateString('pt-BR') %></p>
              <p><strong>Local:</strong> <%= evento.local %></p>
              <p><strong>Cidade:</strong> <%= evento.cidade %></p>
          
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </main>
</body>
</html>
